.profile-information {
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 70px 0;
    text-align: center;
    border: 5px solid;
    border-color: #660033 #CC3300;
    width: 40%;
}

.profile-information h1 {
    background: -webkit-linear-gradient(#CC3300, #660033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.profile-information p {
    font-size: 15px;
    color: grey;
}

.profile-information h2 {
    background: -webkit-linear-gradient(#CC3300, #660033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 5%;
}

.select-options {
    position: relative;
    width: 200px;
    border: 6px solid transparent;
}

.column {
    width: 50%;
}

.movie-extended {
    width: 20%;
    display: inline-block;
}

.movie-title {
    height: 60px;
    text-align: center!important;
    width: 100%;
}

.d-inline-block {
    display: inline-block!important;
}

.release-date {
    color: white;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    position: absolute;
}

.release-date span {
    background-color: #e50914;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 5px;
}

.profile-title {
    background: -webkit-linear-gradient(#CC3300, #660033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
    font-weight: 800;
}

.select-container {
    background: -webkit-linear-gradient(#CC3300, #660033);
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    /*appearance: none;*/
}

.select-container-option {
    background-color: #e50914;
    color: black;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
}
