@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 0px;
    color: white;
}

.searchbar-container {
    display: flex;
    background-color: transparent;
    padding-right: 120px;
    justify-content: center;
}

.search {
    color: white;
    margin-left: 15px;
    display: block;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    justify-content: right;
    cursor: pointer;
    width: 300px;
}


.movie-container {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.movie {
    background-color: transparent;
    box-sizing: border-box;
    width: 10%;
    border: 5px solid #696969;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    margin: 0.75rem;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.movie-info h3 {
    margin: 0;
    color: white;
}

.movie-info span {
    color: #696969;
}

.movie-over {
    background-color: black;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}

.movie-countries {
    background-color: transparent;
    box-sizing: border-box;
    padding: 8px;
    border: 5px solid;
    border-color: #660033 #CC3300;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 6%;
}

.flags {
    max-height: 10px;
    display: flex;
}

.home-information {
    background: -webkit-linear-gradient(#CC3300, #660033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 5px solid;
    border-color: #660033 #CC3300;
    width: 40%;
}
