.flow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-color: red;
    /*background-image: url('https://images-na.ssl-images-amazon.com/images/I/51zz4doV6XL._SY500_.jpg');*/
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
}

input {
    border: none;
    outline: none;
    background: none;
    color: white;
}

button {
    border:none;
    outline: none;
    background: none;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: webkit-transform 1.2s ease-in-out;
    transition: webkit-transform 1.2s ease-in-out;
}

.form h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: center;
}

label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top:5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 0.4);
    text-align: center;
}

.form-button {
    margin-top: 20px;
    margin-left: 200px;
    display: block;
    width: 200px;
    border-radius: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    text-align: center;
    cursor: pointer;
}

.form-button:hover {
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

.below-text h2 {
    font-size: 14px;
}


